.contact-links {
    margin-top: 1rem;
  }
  
  .contact-email {
    font-weight: 600;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1rem;
  }
  
  .social-links a {
    margin-right: 1rem;
    font-weight: 500;
  }
  