<section id="about" class="about-section">
  <div class="about-container">
    <img src="portfolio-app\src\assets\headshot.jfif" alt="Mouad Elmellouki" class="profile-pic" />
    <div class="about-content">
      <h1>Hi, I'm Mouad Elmellouki</h1>
      <p>
        A 4th-year Computer Science student at the University of Virginia with a minor in Applied Mathematics, passionate about cybersecurity, threat detection, and software development.
      </p>
      <p>
        Skilled in Python, C++, network security, penetration testing, reverse engineering, and cloud-native backend design. 
      </p>
      <p>
        Fitness enthusiast and a proud Buffalo Bills fan.
      </p>
    </div>
    <a href="assets/Mouad_Elmellouki_Resume.pdf" download class="download-btn">
      <button>Download Résumé</button>
    </a>    
  </div>
</section>
