<section id="experience" class="section-card">
    <h2>Experience</h2>
    <div class="experience-cards">
      <a href="https://grapevineai.app" target="_blank" class="experience-card">
        <h3>Software Developer &#64; Grapevine AI</h3>
        <p>Developed and deployed a backend system for posting academic content and student organization updates, using FastAPI.</p>
        <p>Configured AWS API Gateway as a secure proxy for managing HTTP requests.</p>
        <p>Utilized AWS S3 for secure media storage and DynamoDB for structured metadata management.</p>
        <p>Led security efforts, implementing IAM roles, access control, and authentication best practices.</p>
      </a>
      <div class="experience-card">
        <h3>Information Security Intern &#64; VA Cyber Navigator Program</h3>
        <p>Performed penetration tests and vulnerability scans using Nmap, Acunetix, and Wireshark on local election infrastructure.</p>
        <p>Assisted in configuring and deploying security tools to enhance system integrity and meet LESS compliance.</p>
        <p>Reviewed and helped construct a System Security Plan (SSP), Incident Response Plan (ISP), and Remediation Plan for the locality to help meet security standard baselines.</p>
      </div>
      <div class="experience-card">
        <h3>Teaching Assistant &#64; UVA</h3>
        <p>Led tutorials on computer architecture, assembly language, C, and basic C++.</p>
        <p>Assisted students in debugging low-level security vulnerabilities and understanding memory safety risks.</p>
      </div>
    </div>
</section>